.botaoPassarVez{
    display: flex;
    background-color: #FFC90E;
    aspect-ratio: 1;
    width: 5%;
    overflow: hidden;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
}